<h1>Pets at <%= @shelter.name %></h1>

<h3>Pets at <%= @shelter.name %>: <%= @shelter.pets.count %></h3>
<h3><a href="/shelters/<%= @shelter.id %>/pets/new">Create Pet</a></h3>

<% @shelter.pets.each do |pet| %>
  <div class="content-card">
    <h2><a href="/pets/<%= pet.id %>"><%= pet.name %></a></h2>
    <%= image_tag pet.image, class: "image"%>
    <p>Age: <%= pet.approximate_age %></p>
    <p>Sex: <%= pet.sex %></p>
  </div>
<% end %>
