<h1>Favorite Pets</h1>

<section id="fav_pets">
  <% if cart.no_favorites  %>
    <h2>No Furry Friends Here Yet</h2>
  <% else %>
    <%= link_to "Apply to adopt", "/applications/new", class: "button" %><br><br><br>
    <%= link_to "Remove all from favorites", "/favorites/all", method: :delete %><br>
    <% @fav_pets.each do |pet| %>
    <div id="pet<%= pet.id %>" class="content-card">
      <h2><%= link_to "#{pet.name}", "/pets/#{pet.id}" %></h2>
      <%= image_tag pet.image, class: "image" %>
      <% if cart.contains_pet(pet.id) %>
      <%= link_to "Remove from Favorites", "/favorites/#{pet.id}", method: :delete %>
      <% else %>
      <%= link_to "Add to Favorites", "/cart/#{pet.id}", method: :patch %>
      <% end %>
    </div>
    <% end %>
  <% end %>
</section><br>

<h1>Furry Friends With Applications</h1>
<section id="pet_apps">
  <% if @pets_with_apps != nil %>
    <ul>
      <% @pets_with_apps.each do |pet|  %>
        <li class="list-of-apps"><%= link_to "#{pet.name}", "/pets/#{pet.id}" %></li>
      <% end %>
    </ul>
  <% end %>
</section>
