<h1>Application for <%= @application.name  %></h1>

<ul>
  <li>Name: <%= @application.name %></li>
  <li>Address: <%= @application.address %></li>
  <li>City: <%= @application.city %></li>
  <li>State: <%= @application.state %></li>
  <li>Zip: <%= @application.zip %></li>
  <li>Phone Number: <%= @application.phone_number %></li>
  <li>Description: <%= @application.description %></li>
  <li>Pets:</li>
    <h4>Approve individually:</h4>

    <% @pets.each do |pet|  %>
      <div id="pet_on_app-<%= pet.id %>" class="content-card">
        <li><%= link_to "#{pet.name}", "/pets/#{pet.id}" %></li>
        <%=form_tag "/pets/#{pet.id}/application_status", method: :patch do  %>
          <%= hidden_field_tag :approved_applicant, @application.id %>
            <% if pet.has_approved_applicant %>
              <%= submit_tag "Approve for #{pet.name}", class: "button", disabled: true, title: "#{pet.name} already has a pending application." %>
            <% else %>
              <%= submit_tag "Approve for #{pet.name}", class: "button" %>
            <% end %>
        <% end %>
      </div>
    <% end %>

    <h4>Approve multiple:</h4>
    <div id="select_multiple">
      <%= form_tag "/pets/:id/application_status", method: :patch, class: "form" do %>
        <%= label_tag :pet_names %>
        <%= select_tag :pet_names, options_for_select(@pets.collect{ |pet| [pet.name, pet.id] }), {:multiple => true} %><br><br>
        <%= hidden_field_tag :approved_applicant, @application.id %>
        <%= submit_tag "Approve", class: "button" %>
      <% end %>
    </div>
</ul>
