<h1><%= @application.name %>'s Application</h1>

<ul>
  <li><span class="li-label">Name: </span><%= @application.name %></li>
  <li><span class="li-label">Address: </span><%= @application.address %></li>
  <li><span class="li-label">City: </span><%= @application.city %></li>
  <li><span class="li-label">State: </span><%= @application.state %></li>
  <li><span class="li-label">Zip: </span><%= @application.zip %></li>
  <li><span class="li-label">Phone number: </span><%= @application.phone_number %></li>
  <li><span class="li-label">Description: </span><%= @application.description %></li><br>
  <li><span class="li-label">Pet(s) on application: </span></li>
    <h3>Approve individually:</h3>
    <% @pets.each do |pet|  %>
      <div id="pet_on_app-<%= pet.id %>" class="content-card app-card">
        <h4 ><%= link_to "#{pet.name}", "/pets/#{pet.id}" %></h4>
        <%=form_tag "/pets/#{pet.id}/application_status", method: :patch do  %>
          <%= hidden_field_tag :approved_applicant, @application.id %>
            <% if pet.has_approved_applicant %>
              <%= submit_tag "Unapprove for #{pet.name}", class: "button", title: "#{pet.name} already has a pending application." %>
              <p class="explanation">Application is pending</p>
            <% else %>
              <%= submit_tag "Approve for #{pet.name}", class: "button" %>
            <% end %>
        <% end %>
      </div>
    <% end %>

    <h3>Approve multiple:</h3>
    <div id="select_multiple">
      <p class="explanation"> Pets with pending applications will not be shown for approval.</p>
      <%= form_tag "/pets/:id/application_status", method: :patch, class: "form" do %>
        <%= label_tag :pet_names %><br>
        <%= select_tag :pet_names, options_for_select(@non_pending_pets.collect{ |pet| [pet.name, pet.id] }), {multiple: true} %><br><br>
        <%= hidden_field_tag :approved_applicant, @application.id %>
        <%= submit_tag "Approve", class: "button" %>
      <% end %>
    </div>
</ul>
