<h1><%= @pet.name %></h1>

<%= image_tag @pet.image, class: "show-pet" %>

<ul>
  <li><span class="li-label">About me: </span><%= @pet.description %></li>
  <li><span class="li-label">Approximate age: </span><%= @pet.approximate_age %></li>
  <li><span class="li-label">Sex: </span><%= @pet.sex %></li>
  <li><span class="li-label">Adoption status: </span><%= @pet.adoption_status %></li>
  <% if @pet.has_approved_applicant %>
    <li class="explanation">On hold for <%= @pet.approved_applicant %></li>
  <% end %>
</ul>

<hr><br>

<section class="actions">
  <% if cart.contains_pet(@pet.id) %>
    <%= link_to "Remove from Favorites", "/favorites/#{@pet.id}", method: :delete %><br>
  <% else %>
    <%= link_to "Add to Favorites", "/cart/#{@pet.id}", method: :patch %><br>
  <% end %>
  <%= link_to "Applications for #{@pet.name}", "/pets/#{@pet.id}/applications" %><br>
  <%= link_to "Update Pet", "/pets/#{@pet.id}/edit" %><br>
  <% if @pet.is_pending %>
    <p class="explanation">Pet has pending application</p>
  <% else %>
    <%= link_to "Delete Pet", "/pets/#{@pet.id}", method: :delete, data: {confirm: "Are you sure you want to delete this pet?"} %>
  <% end %>
</section>
