<h1><%= @pet.name %></h1>

<%= image_tag @pet.image %>

<ul>
  <li>About me: <%= @pet.description %></li>
  <li>Age: <%= @pet.approximate_age %></li>
  <li>Sex: <%= @pet.sex %></li>
  <li>Adoption status: <%= @pet.adoption_status %></li>
</ul>

<a href="/pets/<%= @pet.id %>/edit">Update Pet</a></br>
<%= link_to "Delete Pet", "/pets/#{@pet.id}", method: :delete, data: {confirm: "Are you sure you want to delete this pet?"} %></br>s