<h1><%= @pet.name %></h1>

<%= image_tag @pet.image, class: "show-pet" %>

<ul>
  <li>About me: <%= @pet.description %></li>
  <li>Age: <%= @pet.approximate_age %></li>
  <li>Sex: <%= @pet.sex %></li>
  <li>Adoption status: <%= @pet.adoption_status %></li>
  <li>On hold for <%= @pet.approved_applicant %></li>
</ul>

<hr><br>

<section class="actions">
  <% if cart.contains_pet(@pet.id) %>
    <%= link_to "Remove from Favorites", "/favorites/#{@pet.id}", method: :delete %><br>
  <% else %>
    <%= link_to "Add to Favorites", "/cart/#{@pet.id}", method: :patch %><br>
  <% end %>
  <%= link_to "Applications for #{@pet.name}", "/pets/#{@pet.id}/applications" %><br>
  <%= link_to "Update Pet", "/pets/#{@pet.id}/edit" %><br>
  <%= link_to "Delete Pet", "/pets/#{@pet.id}", method: :delete, data: {confirm: "Are you sure you want to delete this pet?"} %>
</section>
