<!DOCTYPE html>
<html>
  <head>
    <title>AdoptDontShop</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <link href="https://fonts.googleapis.com/css2?family=Spartan:wght@200;400;500;700;800;900&display=swap" rel="stylesheet">

  </head>

  <body>
    <header>
      <a href="/"><%= image_tag "logo.png", alt: "logo", id: "header-logo" %></a>
      <nav>
        <ul>
          <li><%= link_to "Shelters", '/shelters' %></li>
          <li><%= link_to "Pets", '/pets'%></li>
          <li><%= link_to "Favorites(#{cart.total_count})", '/favorites' %></li>
        </ul>
      </nav>
    </header>

    <% flash.each do |type, message| %>
      <section class=<%= type %>>
        <p><%= message %></p>
      </section>
    <% end %>
    <%= yield %>

    <br><footer>
      <%= link_to "Sign up", "/users/sign_up" %><br>
      <%= link_to "Login", "/login" %>
    </footer>
  </body>
</html>
